*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.forgetParent{
    background-color: rgba(243, 239, 225);
    width: 40%;
    border-radius: 20px;
    position: fixed;
    left: 40%;
    z-index: 1000 !important;
}


@media screen and (min-width:400px) and (max-width:700px) {
    .forgetParent{
        width: 75%;
        left: 25%;
    }
}
@media screen and (min-width:700px) and (max-width:900px) {
    .forgetParent{
        width: 60%;
        left: 25%;
    }
}
@media screen and (max-width:400px){
    .forgetParent{
        width: 90%;
        left: 5%;
        padding: 0;
    }
}